$dark-background-color: #22252d;
$light-background-color: #ffffff;

$dark-btn-wrapper-background-color: #2a2d37;
$light-btn-wrapper-background-color: #f9f9f9;

$dark-result-color: #f4f6f6;
$light-result-color: #30333b;

$dark-btn-background-color: #282b33;
$light-btn-background-color: #f7f7f7;

$primary-btn-color: #43efce;
$secondary-btn-color: #e66765;
